@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.karla {
    font-family: "Karla", sans-serif;
   
  }
  .oleo-script {
    font-family: "Oleo Script", system-ui;
   
  }
  
.montserrat{
    font-family: "Montserrat", sans-serif;
  
  }
  .inter{
    font-family: "Inter", sans-serif;
    
  }
  .kumbh-sans {
    font-family: "Kumbh Sans", sans-serif;
    
  }
  .poppins {
    font-family: "Poppins", sans-serif;
   
  }
  .roboto{
    font-family: "Roboto", sans-serif;
  
  }
  
  .jodi .jodit-container:not(.jodit_inline) .jodit-workplace  {
    background-color:  #e4ebff !important
  }
  .jodi .jodit-container:not(.jodit_inline) .jodit-wysiwyg{
    padding:28px !important
  }
  .jodi .jodit-container:not(.jodit_inline) .jodit-workplace{
   height: 400px !important;
  }
  /* HTML: <div class="loader"></div> */
  
  /* HTML: <div class="loader"></div> */
  .loader {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation: l1 1s linear infinite alternate;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    width: 20%;
    height: 14px;
  }
  .loader:before {
    content:"Loading..."
  }
  .main-color {
    color: #2C6C24;
  }
  @keyframes rotateCircle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes zoomVibrate {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
  }
  
  /* Utility Classes */
  .rotate-animation {
    animation: rotateCircle 2s linear infinite;
  }
  
  .zoom-animation {
    animation: zoomVibrate 0.6s ease-in-out infinite;
  }
  

  